/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  MODAL BASE
 *      - Base
 *      - Header
 *      - Body
 *      - Footer
 *  MODAL INNER
 *  MODAL CLOSE
 *  MODIFIERS
 *      - Grid in Modals
 *      - No Footer
 */





/*------------------------------------*\
    !MODAL BASE
\*------------------------------------*/

/**
 * ^Base
*/

.modal,
.modal-block{
    display: none;
}

.vanilla-modal .modal {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s, z-index 0s 0.3s;
    background: $modal-overlay-color;
    text-align: center;
    white-space: nowrap;
    content: '';
    opacity: 0;
    overflow: hidden;
    z-index: map(constants, zIndexes, modalInner);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
    display: inline-block;
    text-align: left;
    white-space: normal;
    vertical-align: middle;
}

.vanilla-modal .modal:before {
    display: inline-block;
    width: 0;
    height: 100%;
    content: '';
    overflow: hidden;
    vertical-align: middle;
}

.vanilla-modal.modal-visible .modal {
    transition: opacity 0.3s;
    opacity: 1;
    z-index: map(constants, zIndexes, modal);
}

.modal-content{
    display: flex;
    flex-direction: column;
}

.modal-block{
    position: relative;
}


/**
 * ^Header
*/

.modal-header{
    flex: 0 0 auto;
    padding: $modal-header-padding;
}


/**
 * ^Body
*/

.modal-body{
    flex: 1 0 auto;
    padding: $modal-body-padding;
}


/**
 * ^Footer
*/

.modal-footer{
    flex: 0 0 auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $modal-footer-padding;
}





/*------------------------------------*\
    !MODAL INNER
\*------------------------------------*/

.modal-inner {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    transform: scale(0);
    transition: opacity 0.3s, transform 0.3s, z-index 0s 0.3s;
    background: $modal-inner-background-color;
    opacity: 0;
    overflow: hidden;
    z-index: map(constants, zIndexes, modalInner);
}

.modal-visible .modal-inner {
    transform: scale(1);
    transition: opacity 0.3s, transform 0.3s;
    opacity: 1;
    z-index: map(constants, zIndexes, modalInnerVisible);
}

.modal-body__inner{
    max-height: $modal-body-height;
    margin-bottom: $modal-body-margin-bottom;
    overflow-y: scroll;
}





/*------------------------------------*\
    !MODAL CLOSE
\*------------------------------------*/

a.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: $modal-close-background-color;
    cursor: pointer;
    color: $modal-close-color;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    z-index: map(constants, zIndexes, modalClose);
}





/*------------------------------------*\
    !MODIFIERS
\*------------------------------------*/

/**
 * ^Grid in Modals
*/

body[data-current-modal*="_grid"] .modal-inner {
    width: 100%;
}


/**
 * ^No Footer
*/

body[data-current-modal*="_no-footer"] .modal-body__inner {
    margin-bottom: 0;
}

body[data-current-modal*="_no-footer"] .modal-footer{
    display: none;
}
